@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf');
}

.header_left_logo .logo img {
    max-width: 200px !important;
}

.phone-number {
    background-color: #7b0d2c;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 15px;
    color: white !important;
    font-family: OpenSans !important;
}
.phone-number:hover {
    color: #d1ab6a !important;
    font-size: 16px;
}

.login-dropdown {
    margin-top: -27px !important;
}
.section_padding_bottom_65 > [class*="container"] {
    padding-bottom: 0px!important;
}
.item-media img {
    width: 100%;
    max-height: 250px!important;
}

#search_course_form_submit {
    padding: 16px;
    width: 100%;
}
.mobile-phone:hover {
    font-size: 16px;
    color: #dbab6a !important;
}
.mobile-phone {
    padding: 2px 5px;
    background-color: #7b0d2c;
    border-radius: 5px;
    color: white !important;
}
@media (max-width: 667px) {
    .header_left_logo .logo img {
        max-width: 150px !important;
    }
    .mobile-phone {
        font-size: 14px;
        font-family: OpenSans;
        color: #7b0d2c;
    }
    .logo.vertical_logo img {
        max-width: 200px;
    }
}
